In [1]:
import pandas as pd

In [12]:
vendasData = pd.read_csv(r"lista-de-vendas-2017.csv", sep=";")
lista_colunas = ['ID Produto', 'Quantidade Vendida', 'Quantidade Devolvida']
vendasData[lista_colunas]

        ID Produto  Quantidade Vendida  Quantidade Devolvida
0              981                   9                     1
1             1586                   9                     1
2             1444                  13                     1
3             1468                   6                     1
4             1106                   4                     1
...            ...                 ...                   ...
980637        2490                 120                     0
980638        2488                 120                     0
980639        2511                  80                     0
980640         436                  39                     0
980641        2510                  80                     0

[980642 rows x 3 columns]

In [ ]:
quantidadeDeVenda = int(input("Insira a quantidade de vendas: "))
numeroVenda = vendasData["Numero da Venda"]
quantidadeVendida = vendasData["Quantidade Vendida"]
idProduto = vendasData["ID Produto"]

for i in range(0, len(numeroVenda)):
    if quantidadeVendida[i] >= quantidadeDeVenda:
        print(f"Quantidade vendida: {quantidadeVendida[i]}. Id do produto: {idProduto[i]}")